<div>
  <h1>Contacts</h1>
  
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th> </th>
    </tr>
    <% _.each(contacts, function (contact) { %>
      <tr>
        <td>
          <a href="/contact/edit/<%= contact.id %>">
            <%= contact.firstName %> <%= contact.lastName %></td>
          </a>
        <td><%= contact.phoneNumber %></td>
        <td><%= contact.emailAddress %></td>
        <td>
          <form method="post" action="/contact/<%= contact.id %>">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>
</div>
